<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.utraq.net.nz/thymeleaf/layout"
      layout:decorator="/admin/admin-layout">
<head>
    <meta charset="UTF-8">
    <title>example adminlte</title>
    <script>
        $("form").on("submit", function(event) {
            event.preventDefault();
            // process form
            console.log('test');
            $('#payMethodSubmit').attr("action", "/admin/dummy/file/download")
            $('#payMethodSubmit').submit();
        });
    </script>
</head>
<body>
<div layout:fragment="content">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Dummy</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item">Dashboard v1</li>
                        <li class="breadcrumb-item active">Dummy</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">PayMethod</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" id="payMethodSubmit" action="#" method="get">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="payMethodId">id</label>
                                    <input type="email" class="form-control" id="payMethodId" name="payMethodId" placeholder="Enter id">
                                </div>
                                <div class="form-group">
                                    <label for="payMethodCode">code</label>
                                    <input type="email" class="form-control" id="payMethodCode" name="payMethodCode" placeholder="Enter code">
                                </div>
                                <div class="form-group">
                                    <label for="payMethodName">name</label>
                                    <input type="password" class="form-control" id="payMethodName" name="payMethodName" placeholder="Enter name">
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary" id="corporation-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
</body>
</html>